.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.title-container {
  background-color: #0078d7;
  h1 {
    margin: 16px;
    color: #fff;
    font-weight: normal;
  }
}

.full-width {
  width: 100%;
}

mat-card,
.title-container {
  width: 50%;
}

mat-card-actions {
  padding: 0;
  .reset-button {
    margin-left: 5px;
  }
}
